body {
  background-color: #050505;
  max-width: 800px;
  max-height: 100vh;
  margin: auto;
  padding: 20px;
  font-family: Georgia, serif;
  overflow-x: hidden;
}

#headerContainer {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

a {
  color: #4b4b4b;
  text-decoration: underline;
  transition: color .5s ease-in-out;
}

a:hover {
  color: #4d2121;
}

#generateHexagram, #infoBtn {
  cursor: pointer;
  z-index: 10;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 15px;
  transition: background-color .5s ease-in-out;
  display: block;
  position: relative;
}

#generateHexagram:hover, #infoBtn:hover {
  background-color: #777;
}

footer {
  color: silver;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-style: italic;
  display: flex;
}

div {
  margin-bottom: 2px;
}

h1 {
  color: silver;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

#hexagramsContainer {
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  display: flex;
}

.hexagram {
  color: #333;
  opacity: 0;
  background-color: silver;
  border-radius: 10px;
  flex-direction: column;
  flex-basis: calc(50% - 20px);
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 132px;
  margin: 20px 0;
  padding: 20px;
  transition: opacity .5s ease-in-out;
  display: flex;
  box-shadow: 0 4px 6px #0000001a;
}

.line-placeholder {
  background-color: #0000;
  width: 100px;
  height: 20px;
  margin: 10px 0;
}

h2 {
  color: #333;
}

#originalText, #transformedText {
  width: 80%;
}

.line-svg {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.line-svg:hover {
  background-color: #c7c7c7;
}

.changing object {
  filter: invert(35%) sepia() saturate(7500%) hue-rotate(-10deg) brightness() contrast();
}

.hex-line-svg {
  width: 100px;
  height: 20px;
  display: block;
}

.svgContainer {
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px;
  transition: opacity .3s ease-in-out, visibility 0s linear .3s;
  position: absolute;
  top: -10px;
  left: 100%;
  transform: translateX(10px);
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.line-svg:hover .tooltip {
  visibility: visible;
}

.modal {
  z-index: 100;
  background-color: #0006;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 10px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  margin: 15% auto;
  padding: 20px;
  transition: opacity .5s ease-in-out;
  display: flex;
  position: relative;
  box-shadow: 0 4px 6px #0000001a;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 5%;
}

.close-button:hover, .close-button:focus {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

@media (width <= 768px) {
  .hexagram {
    flex-basis: 100%;
    align-items: center;
    width: calc(100% - 40px);
  }

  #hexagramsContainer {
    flex-direction: column;
  }

  .tooltip {
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    width: 80%;
    margin: 10% auto;
  }
}
/*# sourceMappingURL=index.d26e19cc.css.map */
