body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    max-height: 100vh;
    margin: auto;
    background-color: #050505;
    overflow-x: hidden;
}

#headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


/* Add effects to the links */
a {
    color: rgb(75, 75, 75);
    text-decoration: underline;
    transition: color 0.5s ease-in-out;
}

a:hover {
    color: #4d2121;
}
/*
#generateHexagram, #infoBtn {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background-color: hwb(0 94% 6%);
    border-radius: 5px;
    
    z-index: 10;
    position: relative;
    
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

    transition: background-color 0.5s ease-in-out;
}

#generateHexagram:hover, #infoBtn:hover {
    background-color: #777777;
}
    */

#generateHexagram {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    background: none;
    border: 1px solid #666;
    color: #666;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    font-family: inherit;
}

#generateHexagram:hover {
    border-color: #fff;
    color: #fff;
  }

/*

  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background: none;
  border: 1px solid #666;
  color: #666;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;

  */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c0c0c0;
    font-size: 12px;
    font-style: italic;
}

div {
    margin-bottom: /*20px */ 2px;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: #c0c0c0;
}

#hexagramsContainer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 20px; 
}

.hexagram {
    flex-basis: calc(50% - 20px); /* Adjust the size minus the gap */
    min-height: 400px; /* Set a minimum height */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: #c0c0c0;
    
    color: #333333;

    min-height: 132px;
    width: 100%;

    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.line-placeholder {
    height: 20px;
    width: 100px;
    background-color: transparent;
    margin: 10px 0;
}

h2 {
    color: #333333; /* Accent color for headings */
}

#originalText, #transformedText {
    width: 80%;

}

.line-svg {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.line-svg:hover {
    /* Example hover effect */
    background-color: #c7c7c7;
}

.changing object {
    /* This horrid combination changes the changing line's color to red */
    filter: invert(35%) sepia(100%) saturate(7500%) hue-rotate(-10deg) brightness(100%) contrast(100%); 
}

.hex-line-svg {
    width: 100px; 
    height: 20px; 
    display: block; 
}

.svgContainer {
    position: relative;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0; /* Start with the tooltip fully transparent */
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; /* Smooth transition for opacity */

    top: -10px; 
    left: 100%; 
    transform: translateX(10px); 
    white-space: nowrap; 
    
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
    z-index: 100; /* Ensures the tooltip is above other content */
    

}

.tooltip.visible {
    visibility: visible; /* Show on hover */
    opacity: 1;
    transition-delay: 0s;
}


.line-svg:hover .tooltip {
    visibility: visible; /* Show on hover */
}

  
  @media (max-width: 768px) {
    .hexagram {
        flex-basis: 100%; /* Full width on smaller screens */
        width: calc(100% - 40px); /* Adjust the width minus the padding */
        align-items: center;
    }

    #hexagramsContainer {
        flex-direction: column;
    }

    .tooltip {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
        text-align: center;
        white-space: normal; /* Allow text to wrap */
        word-wrap: break-word;
    }

}